<!DOCTYPE html>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <title>Register</title>
    <h2>Register Navigation</h2>
    <form method="POST" action="/userOnly">
        <input type="submit" name="userOnly" value="User Only">
    </form>
    <form method="POST" action="/vistorOnly">
        <input type="submit" name="vistorOnly" value="Visitor Only">
    </form>
    <form method="POST" action="/employeeOnly">
        <input type="submit" name="employeeOnly" value="Employee Only">
    </form>
    <form method="POST" action="/employeeVisitor">
        <input type="submit" name="employeeVisitor" value="Employee-Visitor">
    </form>
    <form method="POST" action="/back">
        <input type="submit" name="back" value="Back">
    </form>