<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register User Only</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h2>Register User</h2>
    <form method="POST" action="/userOnly">
        <p>
            <label>First Name</label>
            <input name="fname" type="text">
            <label>Last Name</label>
            <input name="lname" type="text">
            <br>
            <label>Username</label>
            <input name="uname" type="text">
            <br>
            <label>Password</label>
            <input name="password" type="text">
            <label>Confirm Password</label>
            <input name="confirmPassword" type="text">
        </p>
    </form>
</div>
</body>
</html>