{% extends "base.html" %}

{% block content %}
    <h2>Register Visitor</h2>
    <form method="POST" action="/registerVisitor" novalidate>
        {{ form.hidden_tag() }}
        <dl>
            <p>
                {{ form.fname.label }}
                {{ form.fname(size=32) }}
                {{ form.lname.label }}
                {{ form.lname(size=32) }}
            </p>
            <p>
                {{ form.username.label }}
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {{ form.conPassword.label }}
                {{ form.conPassword(size=32) }}
            </p>
            <p>
                {% for email_address in email %}
                    <li><h1>{{ email_address }}</h1>
                    <form action="{{url_for('delete_email', email_address=email_address) }}" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                {% endfor %}
                <!--{{ form.email.label }}
                {{ form.email(size=45) }}-->
            </p>
            <p>
                {{ form.register }}
                {{ form.back }}
            </p>
        </dl>
    </form>
{% endblock %}